.lesson-block{
    padding-left: 12px;
    padding-right: 12px;

}

.lesson-address{
    background-color: white;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
    padding-top: 10px;
}

.lesson-address h1{
    font-size: 44px;
    padding-left: 6%;
}

.lesson-content{
    display: block;
    background-color: white;
    padding: 25px 12%;
    font-size: 32px;
    overflow: auto;
}

.lesson-content h1{
    font-size: 44px;
    font-weight: 700;
    line-height: 75px;
}

.lesson-content h2{
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 2%;
}
.lesson-content p{
    font-size: 24px;
    text-align: justify;
    text-indent: 6%;
    line-height: 35px;
}

.lesson-content-image{
    margin-top: 2%;
    position: relative;
    justify-self: center;
    margin-left: 12%;
    margin-bottom: 1%;
}
.lesson-content-image img{
    display: block;
    width: 90%;
}
.lesson-content-image h3{
    padding-top: 1%;
    text-align: center;
    text-indent: 0;
    font-size: 24px;
    font-style: italic;
}



