@media only screen and (min-width:1300px){
    section.bar{
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.4)), url("../img/rosmol_press_wall.png");
        padding-left: 12px;
        padding-right: 12px;
        height: 1003px;
        border-bottom: 5px solid black;
    }
    .onboard{
        padding-top: 8%;
    }
    .onboard h1{
        color: white;
        text-align: center;
        text-shadow: 4px 4px 2px black;
        font-size: 84px;
        height: 500px;
    }
    article{
        background:
                linear-gradient(
                        rgba(133, 83, 154, 0.5),
                        rgba(137, 96, 210, 0.2)
                );

        padding: 15px 12px;
        padding-bottom: 5%;

    }
    article div.row h2{
        color: #000000;
        font-size: 48px;
        /*text-shadow: 4px 4px 4px black;*/
        text-align: left;
        text-indent: 5%;
        padding-top: 1%;
        padding-bottom: 2%;
    }
    .pros{
        justify-content: center;
        margin-bottom: 10px;
        padding: 12px 20px;
        border: 2px solid black;
        border-radius: 15px;
        box-shadow: 4px 4px 4px black;
        background-color: var(--primary-color-purple);
    }
    .pros img{
        display:block;
        margin: auto;
        height: 200px;
    }
    .pros p{
        text-align: center;
        font-size: 24px;
        color:rgb(0, 0, 0);
        font-weight: 600;
        /*text-shadow: 2px 2px 2px black;*/
    }


    button.start-learning{
        background-color: var(--primary-color-green);
        box-shadow: 4px 4px 2px  rgba(0,0,0,0.5);
        border-radius: 50px;
        border:none;
        padding: 15px 27px;
        font-size: 36px;
        margin-top: 10px;
        margin-left:162px;
        z-index: 5;
    }
    button.start-learning:hover{
        background-color: var(--button-color-hover-green);
    }
}
@media only screen and (min-width: 768px) and (max-width:1300px){
    section.bar{
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.4)), url("../img/rosmol_press_wall.png");
        padding-left: 12px;
        padding-right: 12px;
        height: 1003px;
        border-bottom: 5px solid black;
    }
    .onboard{
        padding-top: 8%;
    }
    .onboard h1{
        color: white;
        text-align: center;
        text-shadow: 4px 4px 2px black;
        font-size: 75px;
        height: 500px;
    }
    article{
        background:
                linear-gradient(
                        rgba(133, 83, 154, 0.5),
                        rgba(137, 96, 210, 0.2)
                );

        padding: 15px 12px;
        padding-bottom: 5%;

    }
    article div.row h2{
        color: #000000;
        font-size: 36px;
        /*text-shadow: 4px 4px 4px black;*/
        text-align: left;
        text-indent: 5%;
        padding-top: 1%;
        padding-bottom: 2%;
    }
    .pros{
        justify-content: center;
        width:100%;
        margin-bottom: 10px;
        margin-right: 1200px;
        padding: 12px 20px;
        border: 2px solid black;
        border-radius: 15px;
        box-shadow: 4px 4px 4px black;
        background-color: var(--primary-color-purple);
    }
    .pros img{
        display:block;
        margin: auto;
        width:100px;
        height: 100px;
    }
    .pros p{
        font-size: 15px;
        margin-left:-10px;
        color:rgb(0, 0, 0);
        font-weight: 600;
        /*text-shadow: 2px 2px 2px black;*/
    }


    button.start-learning{
        background-color: var(--primary-color-green);
        box-shadow: 4px 4px 2px  rgba(0,0,0,0.5);
        border-radius: 50px;
        border:none;
        padding: 15px 20px;
        font-size: 33px;
        margin-top: 10px;
        z-index: 5;
    }
    button.start-learning:hover{
        background-color: var(--button-color-hover-green);
    }
}
@media only screen and (max-width:768px) {
    section.bar{
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.4)), url("../img/rosmol_press_wall.png");
        padding-left: 12px;
        padding-right: 12px;
        height: 1003px;
        border-bottom: 5px solid black;
    }
    .onboard{
        padding-top: 8%;
    }
    .onboard h1{
        color: white;
        text-align: center;
        text-shadow: 4px 4px 2px black;
        font-size: 50px;
        height: 500px;
    }
    article{
        background:
                linear-gradient(
                        rgba(133, 83, 154, 0.5),
                        rgba(137, 96, 210, 0.2)
                );

        padding: 15px 12px;
        padding-bottom: 5%;

    }
    article div.row h2{
        color: #000000;
        font-size: 24px;
        /*text-shadow: 4px 4px 4px black;*/
        text-align: left;
        text-indent: 5%;
        padding-top: 1%;
        padding-bottom: 2%;
    }
    .pros{
        justify-content: center;
        margin-bottom: 10px;
        padding: 12px 20px;
        border: 2px solid black;
        border-radius: 15px;
        box-shadow: 4px 4px 4px black;
        background-color: var(--primary-color-purple);
    }
    .pros img{
        display:block;
        margin: auto;
        width: 150px;
        height: 150px;
    }
    .pros p{
        text-align: center;
        font-size: 20px;
        color:rgb(0, 0, 0);
        font-weight: 600;
        /*text-shadow: 2px 2px 2px black;*/
    }


    button.start-learning{
        background-color: var(--primary-color-green);
        box-shadow: 4px 4px 2px  rgba(0,0,0,0.5);
        border-radius: 50px;
        border:none;
        padding: 15px 23px;
        font-size: 36px;
        margin-top: 10px;
        z-index: 5;
    }
    button.start-learning:hover{
        background-color: var(--button-color-hover-green);
    }
}