div{
    border: none;
}
.lesson-thumbnail{
}

.lesson-thumbnail img{
    border: 3px solid var(--primary-color-green);
    border-radius: 15px;
    box-shadow: 4px 4px 4px black;
    display: block;
    height: 15%;
    margin-right: auto;
    margin-left: 20%;
    margin-top: 5%;
}
.lesson-blocks{
    display: block;
    height: 700px;
    width: 90%;
    margin-top: 50px;
    margin-left: 50px;
    overflow: auto;
    padding-right: 200px;
}

.lesson-block{
    display: block;
    margin-left:auto;
    margin-bottom:20px;
    height: 273px;
    margin-right: -5%;
    background-color: var(--primary-color-block-purple);
    border: 3px solid var(--primary-color-green);
    border-radius: 15px;
    box-shadow: 4px 4px 4px black;

}
.lesson-block:hover{
    background-color: var(--button-color-hover-purple);
    box-shadow: 4px 4px 8px black;
}

a{
    display: block;
    text-decoration: none;
    color: black;
}

.bigrec{
    display: block;
    margin-top: 30px;
    margin-left: 10px;
    height: 60px;
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
}
.smallrec{
    display: block;
    margin-top: 30px;
    margin-left: 10px;
    height: 120px;
    width: 90%;
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    overflow: auto;
}

.smallrec p{
    padding-top: 1%;
    padding-left: 2%;
    font-size: 24px;
}