<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../css/bootstrap-grid.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/Lesson.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
  <title>Rossmolodezh</title>
</head>
<body>
<div class="container-fluid">
  <!--  header-->
  <header>
    <div class = "row menu">
      <div class="col-sm-9 col-md-2 picture">
        <a class="icon" href="TopBar.html">росмолодежь</a>
        <p align="right" class="menuSmall"><img src="../img/menu.png"></p>
      </div>
      <div class = "col-sm-3 col-md-10">
        <nav class="d-flex flex-row-reverse">
          <ul class="p-2">
            <li class="menuBar" ><a href="" ><img  src="../img/menu.png"></a></li>
            <li class="menuDel"><a class="incognito" href="ProfileStatic.html" ><img width=80% src="../img/ava.png"></a></li>
            <li class ="menuDel"><a href="TopBar.html">Главная страница</a></li>
            <li class ="menuDel"><a href="">Мои направления</a></li>
            <li class ="menuDel"><a href="">Уведомления</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <!--end of header-->
<section class="lesson-block">
  <div class="row lesson-address">
    <h1>Мои курсы > Название курса > Название урока </h1>
  </div>
  <div class="row">
    <div class="lesson-content">
      <h1>Заголовок первого уровня</h1>
      <h2>Заголовок второго уровня</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad at deleniti deserunt dolorum error id laborum natus nesciunt nulla possimus provident quam saepe, sapiente sequi sit temporibus totam voluptatum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi aperiam at culpa distinctio ex illum inventore nam necessitatibus officia provident quibusdam quod saepe sunt ullam, unde, veritatis, voluptas voluptate! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, animi assumenda at corporis eaque impedit, molestiae molestias nulla odit sapiente similique tempora ut voluptate? Dolorem numquam odit optio quos tenetur.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi aperiam at culpa distinctio ex illum inventore nam necessitatibus officia provident quibusdam quod saepe sunt ullam, unde, veritatis, voluptas voluptate! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, animi assumenda at corporis eaque impedit, molestiae molestias nulla odit sapiente similique tempora ut voluptate? Dolorem numquam odit optio quos tenetur.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi aperiam at culpa distinctio ex illum inventore nam necessitatibus officia provident quibusdam quod saepe sunt ullam, unde, veritatis, voluptas voluptate! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, animi assumenda at corporis eaque impedit, molestiae molestias nulla odit sapiente similique tempora ut voluptate? Dolorem numquam odit optio quos tenetur.</p>
      <div class="lesson-content-image">
        <img src="../img/people.png" alt="">
        <h3 class="img-name">Рисунок 1</h3>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto, aut, cumque deleniti impedit ipsam magnam minima modi officia perferendis placeat quidem quos reiciendis reprehenderit, sequi similique ullam ut voluptates.</p>
      <h2>Заголовок второго уровня</h2>
      <div class="lesson-content-image">
        <img src="../img/rosmol_press_wall.png" alt="">
        <h3 class="img-name">Рисунок 2 - илюстрация всяких разных штук</h3>
      </div>
    </div>
  </div>

</section>


  <footer>
    <div class="row" >
      <div class ="col-md-12">
        Контактные данные<br>
        <hr color="black" size="3px" width="100%">
      </div>
    </div>
    <div class="row">
      <div class ="col-md-6">
        Телефон: <a href="tel:+78003337737"> 8 (800) 333-77-37</a>
      </div>
      <div class ="col-md-6">
        email: <a href="mailto:Op@fadm.gov.ru?subject=Обращение%20в%20службу%20поддержки">Op@fadm.gov.ru</a>
      </div>
    </div>
  </footer>
</div>
</body>
</html>