<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../css/bootstrap-grid.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
  <title>Rossmolodezh</title>
</head>
<body>
<div class="container-fluid">
  <header>
    <div class = "row menu">
      <div class="col-sm-9 col-md-2 picture">
        <a class="icon" href="TopBar.html">росмолодежь</a>
        <p align="right" class="menuSmall"><img src="../img/menu.png"></p>
      </div>
      <div class = "col-sm-3 col-md-10">
        <nav class="d-flex flex-row-reverse">
          <ul class="p-2">
            <li class="menuBar" ><a href="" ><img  src="../img/menu.png"></a></li>
            <li class="menuDel"><a class="incognito" href="ProfileStatic.html" ><img width=80% src="../img/ava.png"></a></li>
            <li class ="menuDel"><a href="TopBar.html">Главная страница</a></li>
            <li class ="menuDel"><a href="MyDirections.html">Мои направления</a></li>
            <li class ="menuDel"><a href="Nontivication.html">Уведомления</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <section class="profile ">
    <div class="row">
      <div class="col-md-6 direct">
        Мои направления
        <hr width="200%" color="black" >
      </div>
      <div class="col-md-6 newDirect">
        <button type="button" class="newDir">+ Напраление</button>

      </div>
    </div>
    <div class="row achieve">
      <div class="col-md-4 prog rect-for-direct">
        <div class="row">
          <div class="col-md-12">
            Мой прогресс
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            Уроков пройденно:
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            m/n
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            Достижений полученно:
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            k/p
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="about-achieve"  onclick="window.location.href=''">Подробнее</button>
          </div>
        </div>
      </div>
      <div class="col-md-8 blocks">
        <!--Сюда вставлять блоки-->
        <div class="oneblock">
          <div class="row">
            <div class="col-md-3 lesson-photo"><img width=20% src="../img/ava.png"></div>
            <div class="col-md-9 ">
              <div class="row ">
                <div class="col-md-12 bigrec">

                </div>
              </div>
              <div class="row ">
                <div class="col-md-12 smallrec">

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="extraRec"></div>
            </div>
          </div>
        </div>
        <div class="oneblock">
          <div class="row">
            <div class="col-md-3 lesson-photo"><img width=20% src="../img/ava.png"></div>
            <div class="col-md-9 ">
              <div class="row ">
                <div class="col-md-12 bigrec">

                </div>
              </div>
              <div class="row ">
                <div class="col-md-12 smallrec">

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="extraRec"></div>
            </div>
          </div>
        </div>
        <div class="oneblock">
          <div class="row">
            <div class="col-md-3 lesson-photo"><img width=20% src="../img/ava.png"></div>
            <div class="col-md-9 ">
              <div class="row ">
                <div class="col-md-12 bigrec">

                </div>
              </div>
              <div class="row ">
                <div class="col-md-12 smallrec">

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="extraRec"></div>
            </div>
          </div>
        </div>
        <div class="oneblock">
          <div class="row">
            <div class="col-md-3 lesson-photo"><img width=20% src="../img/ava.png"></div>
            <div class="col-md-9 ">
              <div class="row ">
                <div class="col-md-12 bigrec">

                </div>
              </div>
              <div class="row ">
                <div class="col-md-12 smallrec">

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="extraRec"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
  <div class="row" >
    <div class ="col-md-12">
      Контактные данные<br>
      <hr color="black" size="3px" width="100%">
    </div>
  </div>
  <div class="row">
    <div class ="col-md-6">
      Телефон:<br> <a href="tel:+78003337737"> 8 (800) 333-77-37</a>
    </div>
    <div class ="col-md-6">
      email:<br> <a href="mailto:Op@fadm.gov.ru?subject=Обращение%20в%20службу%20поддержки">Op@fadm.gov.ru</a>
    </div>
  </div>
</footer>
</div>
</body>
</html>