<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../css/bootstrap-grid.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
  <title>Rossmolodezh</title>
</head>
<body>
<div class="container-fluid">
  <!--  header-->
  <header>
    <div class = "row menu">
      <div class="col-sm-9 col-md-2 picture">
        <a class="icon" href="TopBar.html">росмолодежь</a>
        <p align="right" class="menuSmall"><img src="../img/menu.png"></p>
      </div>
      <div class = "col-sm-3 col-md-10">
        <nav class="d-flex flex-row-reverse">
          <ul class="p-2">
            <li class="menuBar" ><a href="" ><img  src="../img/menu.png"></a></li>
            <li class="menuDel"><a class="incognito" href="ProfileStatic.html" ><img width=80% src="../img/ava.png"></a></li>
            <li class ="menuDel"><a href="TopBar.html">Главная страница</a></li>
            <li class ="menuDel"><a href="">Мои направления</a></li>
            <li class ="menuDel"><a href="">Уведомления</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <!--end of header-->
<section class="profile">
  <div class="row lk">
  <div class=" col-md-6  profile-left">
    <a class="photo" ><img src="../img/ava.png"></a>
    <div class="profile-name">
      Имя<br>
      Фамилия<br>
    </div>
  </div>
  <div class=" profile-right">
    <div class="rect-for-profile">
      <form action="#">
        <div class="row">
          <div class ="col-md-6"></div>
          <div class ="col-md-6"></div>
        </div>
        <div class="row">
          <div class ="col-md-6 save-profile">Имя</div>
          <div class ="col-md-6 ">
            <input name="First name" type="text">
          </div>
        </div>
        <div class="row">
          <div class ="col-md-6 save-profile">Фамилия</div>
          <div class ="col-md-6">
          <input name="Second name" type="text">
          </div>
        </div>
        <div class="row">
          <div class ="col-md-6 save-profile">Дата рождения</div>
          <div class ="col-md-6">
            <input name="Birthday" type="date">
          </div>
        </div>
        <div class="row">
          <div class ="col-md-6 save-profile">Почта</div>
          <div class ="col-md-6">
            <input name="email" type="email">
          </div>
        </div>
        <div class="row">
          <div class ="col-md-6 save-profile">Телефон</div>
          <div class ="col-md-6">
            <input name="Phone number" type="tel">
          </div>
        </div>
        <div class="row">
          <div class ="col-md-6 save-profile" ></div>
          <div class ="col-md-6">
          </div>

        </div>
        <div class="row">
          <div class ="col-md-12 save-profile" >
            <button type="button"  class="save" onclick="window.location.href='ProfileStatic.html'">Сохранить изменения</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  </div>
</section>





  <footer>
    <div class="row" >
      <div class ="col-md-12">
        Контактные данные<br>
        <hr color="black" size="3px" width="100%">
      </div>
    </div>
    <div class="row">
      <div class ="col-md-6">
        Телефон: <a href="tel:+78003337737"> 8 (800) 333-77-37</a>
      </div>
      <div class ="col-md-6">
        email: <a href="mailto:Op@fadm.gov.ru?subject=Обращение%20в%20службу%20поддержки">Op@fadm.gov.ru</a>
      </div>
    </div>
  </footer>
</div>
</body>
</html>