<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../css/bootstrap-grid.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/QuestionForm.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
  <title>Rossmolodezh</title>
</head>
<body>
<div class="container-fluid">
  <!--  header-->
  <header>
    <div class = "row menu">
      <div class="col-sm-9 col-md-2 picture">
        <a class="icon" href="TopBar.html">росмолодежь</a>
        <p align="right" class="menuSmall"><img src="../img/menu.png"></p>
      </div>
      <div class = "col-sm-3 col-md-10">
        <nav class="d-flex flex-row-reverse">
          <ul class="p-2">
            <li class="menuBar" ><a href="" ><img  src="../img/menu.png"></a></li>
            <li class="menuDel"><a class="incognito" href="Avtorization.html" ><img width=80% src="../img/ava.png"></a></li>
            <li class ="menuDel"><a href="TopBar.html">Главная страница</a></li>
            <li class ="menuDel"><a href="MyDirections.html">Мои направления</a></li>
            <li class ="menuDel"><a href="Nontivication.html">Уведомления</a></li>
            <li class ="menuDel"><a href="TopBar.html">Выйти</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <!--end of header-->
<section class="profile">
  <div class="row lk">
    <div class="rect-for-profile">
        <form action="#" method="post">
            <h1>Тема вопроса</h1>
            <input name="theme" type="text" placeholder="Введите тему вопроса"/>
            <h2>Вопрос:</h2>
            <textarea name="question" cols="30" rows="10" placeholder="Введите ваш вопрос"></textarea>
            <button class="ask" type="submit">Отправить</button>
        </form>
    </div>
  </div>

</section>





  <footer>
    <div class="row" >
      <div class ="col-md-12">
        Контактные данные<br>
        <hr color="black" size="3px" width="100%">
      </div>
    </div>
    <div class="row">
      <div class ="col-md-6">
        Телефон:<br> <a href="tel:+78003337737"> 8 (800) 333-77-37</a>
      </div>
      <div class ="col-md-6">
        email:<br> <a href="mailto:Op@fadm.gov.ru?subject=Обращение%20в%20службу%20поддержки">Op@fadm.gov.ru</a>
      </div>
    </div>
  </footer>
</div>
</body>
</html>