<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../css/bootstrap-grid.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
  <title>Rossmolodezh</title>
</head>
<body>
<div class="container-fluid">
<!--  header-->
  <header>
    <div class = "row menu">
      <div class="col-sm-9 col-md-2 picture">
        <a class="icon" href="TopBar.html">росмолодежь</a>
        <p align="right" class="menuSmall"><img src="../img/menu.png"></p>
      </div>
      <div class = "col-sm-3 col-md-10">
        <nav class="d-flex flex-row-reverse">
          <ul class="p-2">
            <li class="menuBar" ><a href="" ><img  src="../img/menu.png"></a></li>
            <li class="menuDel"><a class="incognito" href="ProfileStatic.html" ><img width=80% src="../img/ava.png"></a></li>
            <li class ="menuDel"><a href="TopBar.html">Главная страница</a></li>
            <li class ="menuDel"><a href="">Мои направления</a></li>
            <li class ="menuDel"><a href="">Уведомления</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <!--end of header-->
  <section class="bar">
    <div class="row invite">
      <div class="col-md-12 onboard">
        <h1>Добро пожаловать на "Онбординг"!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="start-learning" onclick="window.location.href='Avtorization.html'">Начать обучение</button>
      </div>
    </div>
   <!-- <div><hr></div>-->
  </section >
    <article>
      <div class="row">
        <h2>Преимущества:</h2>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="pros">
            <img src="../img/ava.png" alt="">
            <p>Преимущество №1</p>
            <p>Это очень крутая платформа, поэтому напишу здесь побольше текта, ведь это так круто</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="pros">
            <img src="../img/ava.png" alt="">
            <p>Преимущество №2</p>
            <p>Это очень крутая платформа, поэтому напишу здесь побольше текта, ведь это так круто</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="pros">
            <img src="../img/ava.png" alt="">
            <p>Преимущество №3</p>
            <p>Это очень крутая платформа, поэтому напишу здесь побольше текта, ведь это так круто</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="pros">
            <img src="../img/ava.png" alt="">
            <p>Преимущество №4</p>
            <p>Это очень крутая платформа, поэтому напишу здесь побольше текта, ведь это так круто</p>
          </div>
        </div>
  
      </div>
    </article>
  <footer>
    <div class="row" >
      <div class ="col-md-12">
        Контактные данные<br>
        <hr color="black" size="3px" width="100%">
      </div>
    </div>
    <div class="row">
      <div class ="col-md-6">
        Телефон: <a href="tel:+78003337737"> 8 (800) 333-77-37</a>
      </div>
      <div class ="col-md-6">
        email: <a href="mailto:Op@fadm.gov.ru?subject=Обращение%20в%20службу%20поддержки">Op@fadm.gov.ru</a>
      </div>
    </div>
  </footer>

</div>


</body>
</html>