<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../css/bootstrap-grid.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/myLessons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
  <title>Rossmolodezh</title>
</head>
<body>
<div class="container-fluid">
  <header>
    <div class = "row menu">
      <div class="col-sm-9 col-md-2 picture">
        <a class="icon" href="TopBar.html">росмолодежь</a>
        <p align="right" class="menuSmall"><img src="../img/menu.png"></p>
      </div>
      <div class = "col-sm-3 col-md-10">
        <nav class="d-flex flex-row-reverse">
          <ul class="p-2">
            <li class="menuBar" ><a href="" ><img  src="../img/menu.png"></a></li>
            <li class="menuDel"><a class="incognito" href="Avtorization.html" ><img width=80% src="../img/ava.png"></a></li>
            <li class ="menuDel"><a href="TopBar.html">Главная страница</a></li>
            <li class ="menuDel"><a href="MyDirections.html">Мои направления</a></li>
            <li class ="menuDel"><a href="Nontivication.html">Уведомления</a></li>
            <li class ="menuDel"><a href="TopBar.html">Выйти</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <section class="profile ">
    <div class="row">
      <div class="col-md-12 direct">
        Уведомления
        <hr width="100%" color="black" >
      </div>
    </div>

    <div class="row ">
      <div class="col-md-12 lesson-blocks">
        <!--Сюда вставлять блоки-->
        <div class="lesson-block">
          <a>
            <div class="row">
              <div class="col-md-3 lesson-thumbnail"><img class="imgNont" src="../img/lesson_thumbnail.jpg"></div>
              <div class="col-md-9 ">
                <div class="row ">
                  <div class="col-md-12 bigrec">
                    Урок 1. Введение
                  </div>
                </div>
                <div class="row ">
                  <div class="col-md-12 smallrec">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deserunt ducimus, ea enim esse ex natus nemo neque non placeat quasi quos sapiente voluptate? At cumque deleniti nulla quis veritatis.</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!--Сюда вставлять блоки-->
      </div>
    </div>



  </section>
  <footer>
    <div class="row" >
      <div class ="col-md-12">
        Контактные данные<br>
        <hr color="black" size="3px" width="100%">
      </div>
    </div>
    <div class="row">
      <div class ="col-md-6">
        Телефон: <a href="tel:+78003337737"> 8 (800) 333-77-37</a>
      </div>
      <div class ="col-md-6">
        email: <a href="mailto:Op@fadm.gov.ru?subject=Обращение%20в%20службу%20поддержки">Op@fadm.gov.ru</a>
      </div>
    </div>
  </footer>
</div>
</body>
</html>